<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	</head>
	<body>
		<header class="container">
			<div class="row">
				<h1 class="col-sm-4">Charles Carter</h1>
				<nav class="col-sm-8 text-right">
					<li><a href="/">Home</a></li>
					<li><a href="/tutor costs">Tutoring</a></li>
					<li><a href="/cv">CV</a></li>
					<li><a href="/blog">Blog</a></li>
				</nav>
					
			</div>
		</header>
		
		<section class="jumbotron">
			<div class="container">
				<div class="row text-center">
					<h2>Hello there!</h2>
					<h3>Welcome to Charles' site</h3>
					<a class="btn btn-primary" href="/tutor costs" role="button">Tutoring?</a>
				</div>
			</div>
		</section>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/tutor costs">Tutoring</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		
        {{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:charlescartermath82@gmail.com">email</a></li>
        		<li><a href="https://github.com/charlescartermath82">github.com/charlescartermath82</a></li>
			</ul>
		</footer>
	</body>
</html>
